In [1]:
import glob
import time

import pandas as pd

In [2]:
data_files = glob.glob("*/results/*.csv")

In [3]:
df_github_names_long = pd.concat(
    [ pd.read_csv(fp) for fp in data_files], 
    axis=0, 
    keys=data_files, 
    names=["source", "row"]
).reset_index("source").reset_index(drop=True)
df_github_names_long

                                         source     github_user_id uu_user_id
0    github_search/results/ids_search_repos.csv         jonasmoons        NaN
1    github_search/results/ids_search_repos.csv           gglucass        NaN
2    github_search/results/ids_search_repos.csv       MarcelRobeer        NaN
3    github_search/results/ids_search_repos.csv          ekatrukha        NaN
4    github_search/results/ids_search_repos.csv  UtrechtUniversity        NaN
..                                          ...                ...        ...
518             pure/results/ids_pure_users.csv         keesmulder        NaN
519             pure/results/ids_pure_users.csv     RianneSchouten        NaN
520             pure/results/ids_pure_users.csv              ydluo        NaN
521             pure/results/ids_pure_users.csv        marnixnaber        NaN
522             pure/results/ids_pure_users.csv      gjlbeckers-uu        NaN

[523 rows x 3 columns]

In [4]:
df_github_names_crosstab = pd.crosstab(df_github_names_long["github_user_id"], df_github_names_long["source"])
df_github_names_crosstab

source,github_search/results/ids_search_repos.csv,github_search/results/ids_search_users.csv,github_search/results/ids_topic_repos.csv,pure/results/ids_pure_users.csv,university_profile_pages/results/employees_github_from_cv_urls.csv,university_profile_pages/results/employees_github_from_links_urls.csv,university_profile_pages/results/employees_github_from_profile_urls.csv
github_user_id,,,,,,,
19giorgosts,0,1,0,0,0,0,0
4009509,0,1,0,0,0,0,0
73616e646572,0,0,0,0,0,1,0
AJueling,1,1,0,0,0,0,0
ARYENN,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...
xavierpinho23,0,1,0,0,0,0,0
yaikohi,0,1,0,0,0,0,0
ydluo,0,0,0,1,0,0,0
yuntaoj,0,1,0,0,0,0,0
zievathustra,2,0,0,0,0,0,0

## Basic analytics

In [6]:
df_github_names_long.drop_duplicates(["github_user_id", "source"])["github_user_id"].value_counts()

ekatrukha            3
kevin4998            3
UU-Hydro             3
UtrechtUniversity    3
Casper-Smet          2
                    ..
Garanas              1
richooms             1
drjwbaker            1
berg0138             1
RubenHooijer         1
Name: github_user_id, Length: 418, dtype: int64

## Create unique table of users and corresponding SOli

In [8]:
df_users = df_github_names_long[["github_user_id", "uu_user_id"]].sort_values("uu_user_id").drop_duplicates()
df_users

         github_user_id      uu_user_id
493      ajinkyakadu125          AAKadu
459             msdslab  AGJvandeSchoot
498  alexandrosstergiou      AGStergiou
469         annawegmann       AMWegmann
485          amacanovic      AMacanovic
..                  ...             ...
511           gerkovink             NaN
519      RianneSchouten             NaN
520               ydluo             NaN
521         marnixnaber             NaN
522       gjlbeckers-uu             NaN

[427 rows x 2 columns]

In [ ]:
df_users.to_csv("unique_users.csv", index=False)

In [ ]:
from ghapi.all import GhApi, pages

api = GhApi()

In [ ]:
# df_users["ids"].apply(api.users.get_by_username)

In [ ]:


for x in df_users["ids"].tail(3):
    
    time.sleep(1)
    print(dict(api.users.get_by_username(x)))